/* google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #e7195a;
  --secondary: #ff98bc;
  --error: #ff6f00;
  --dark: #272a2b;
  --black: #000000;
}
html {
  background-color: #92dcff;
}
body {
  margin: 0;
  font-family: "Poppins";
}

/* navbar */
header {
  border-radius: 0 0 35px 35px;
  background: var(--black);
}
header .container {
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .container a {
  text-decoration: none;
}
header .container h1 {
  color: var(--primary);
  font-size: 1.5em;
}
nav {
  display: flex;
  align-items: center;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
nav div span {
  color: white;
  margin-right: 10px;
}
nav a {
  color: var(--primary);
  margin-left: 10px;
  text-decoration: none;
}
nav a:hover {
  color: var(--secondary);
}
nav button {
  background: var(--black);
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1em;
}
.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}
/* homepage */
.home {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 100px;
}
.note-details {
  background: #fff;
  border-radius: 35px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}
.note-details h4 {
  margin: 0 0 5px 0;
  font-size: 1.2em;
  color: #333;
}
.note-details h2 {
  margin: 0 0 5px 0;
  font-size: 1em;
  color: #555;
}
.note-details p {
  margin: 0 0 5px 0;
  font-size: 0.9em;
  color: #555;
}
.note-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--secondary);
  padding: 6px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
}

/* new workout form */
label,
input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 20px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 20px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 20px;
  margin: 20px 0;
}
input.error {
  border: 1px solid var(--error);
}

/* auth form */
form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 5px 20px 20px 20px;
  background: white;
  border-radius: 40px;
}

/* breakpoint 992px */
@media screen and (max-width: 992px) {
  .home {
    padding: 0 5%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
  }
}

/* breakpoint 768px */
@media screen and (max-width: 768px) {
  .home {
    padding: 0 15%;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
}

/* breakpoint 576px */
@media screen and (max-width: 576px) {
  .home {
    padding: 0 5%;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }
}

/* breakpoint 340px */
@media screen and (max-width: 340px) {
  header .container {
    padding: 0 10px;
  }
  nav div span {
    font-size: 0.8em;
  }
  nav div button {
    font-size: 0.6em;
  }
}
